In [2]:
# importing the pandas library
import pandas as pd

In [4]:
# reading the csv file
df = pd.read_csv('Resources/budget_data.csv')

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993
5  Jun-10         563721
6  Jul-10        -535208
7  Aug-10         632349
8  Sep-10        -173744
9  Oct-10         950741

In [6]:
# computing the number of months
number_months = len(df['Date'])

number_months

86

In [8]:
# computing net total amount of "Profit/Losses" over the entire period
total = df['Profit/Losses'].sum()

total

22564198

In [21]:
# computing the average of those changes over the entire period
average = round(df['Profit/Losses'].mean(),2)

average

262374.4

In [33]:
# computing the greatest increase in profits over the entire period
maximum = df[df['Profit/Losses'] == df['Profit/Losses'].max()]
date_max = maximum['Date'].values[0]
value_max = maximum['Profit/Losses'].values[0]

maximum

      Date  Profit/Losses
38  Mar-13        1141840

In [35]:
# computing the greatest decrease in profits over the entire period
minimum = df[df['Profit/Losses'] == df['Profit/Losses'].min()]
date_min = minimum['Date'].values[0]
value_min = minimum['Profit/Losses'].values[0]

minimum

      Date  Profit/Losses
11  Dec-10       -1194133

In [39]:
# printing the analysis
print('  Financial Analysis' + '\n' + '----------------------------' + '\n')
print('Total Months: ' + str(number_months))  
print('Total: $' + str(total))  
print('Average Change: $' + str(average))
print('Greatest Increase in Profits: ' + str(date_max) + '\t' + '$' + str(value_max))  
print('Greatest Decrease in Profits: ' + str(date_min) + '\t' + '$' + str(value_min))

  Financial Analysis
----------------------------

Total Months: 86
Total: $22564198
Average Change: $262374.4
Greatest Increase in Profits: Mar-13	$1141840
Greatest Decrease in Profits: Dec-10	$-1194133

In [40]:
# saving in .txt file
f = open("./analysis/analysis_results.txt","w+")

f.write('  Financial Analysis' + '\n' + '----------------------------' + '\n')
f.write('Total Months: ' + str(number_months) + '\n')
f.write('Total: $' + str(total) + '\n')
f.write('Average Change: $' + str(average) + '\n')
f.write('Greatest Increase in Profits: ' + str(date_max) + '\t' + '$' + str(value_max) + '\n')
f.write('Greatest Decrease in Profits: ' + str(date_min) + '\t' + '$' + str(value_min) + '\n')

f.close()